{%extends 'layouts/layoutgeneral.html' %}



{%block title%}
    {{title}}
{%endblock%}


{%block content%}
    <div class="box-form">
        <h1>Register</h1>

        {{register_form.errors}}

        <form method="post" action="">
            {% csrf_token %}

            {%for field in register_form%}
                <label>{{field.label}}</label>
                {{field}}

            {%endfor%}

            <input type="submit" value="Register"/>

        </form>
    </div>
    

{%endblock%}